<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../static/style.css">
  <script src="https://cdn.jsdelivr.net/npm/echarts@5.5.0/dist/echarts.min.js"></script>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css"/>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
  <link rel="stylesheet" href="https://cdn.datatables.net/2.1.0/css/dataTables.dataTables.min.css">
  <script src="https:////cdn.datatables.net/2.1.0/js/dataTables.min.js"></script>

</head>


<body>

  <div class="searchPol">
    <form id="form_pol">
      <input type="radio" id="politician" value="politician" name="choose_pol" onclick="handleOptionChange(this)">
      <label for="politician">Politician</label><br>
      <input type="radio" id="political_group" value="political_group" name="choose_pol" onclick="handleOptionChange(this)">
      <label for="political_group">Political Group</label>
    </form>
    <select id="select_pol" style="width: 100%;" multiple="multiple" onchange="updateCharts(), fetchAffiliations()">
      <option></option>
    </select>
    <select id="select_channels" style="width: 100%;" multiple="multiple" onchange="updateCharts(), fetchPrograms()">
      <option></option>
    </select>
    <select id="select_programs" style="width: 100%;" multiple="multiple" onchange="updateCharts()">
      <option></option>
    </select>
    <select id="select_topics" style="width: 100%;" multiple="multiple" onchange="updateCharts()">
      <option></option>
    </select>
    <select id="select_affiliations" style="width: 100%;" multiple="multiple" onchange="updateCharts()">
      <option></option>
    </select>
  </div>

  <div>
    <p>from: <input type="date" onkeydown="return false;" id="start_date" onchange="limitEndDate(), updateCharts()"/></p>  
    <p>to: <input type="date" onkeydown="return false;" id="end_date" onchange="updateCharts()"/></p>
  </div>

  <div>
    <form id="cb">
      <input type="checkbox" id="news" value="news" name="choose_type" checked onclick="changeType()" onchange="updateCharts()">
      <label for="news">News</label><br>
      <input type="checkbox" id="speech" value="speech" name="choose_type" checked onclick="changeType()" onchange="updateCharts()">
      <label for="speech">Speech</label>
    </form>
  </div>


  <button id='barChart2Button' onclick="barChart2()">Bar Chart 2</button>
  <button id='barChart3Button' onclick="barChart3()">Bar Chart 3</button>
  <button id='calendarChartButton' onclick="calendarChart()">Calendar Chart</button>
  <button id='lineChartButton' onclick="lineChart()">Line Chart</button>
  <button id='lineChart2Button' onclick="lineChart2()">Line Chart 2</button>
  <button id='radarChartButton' onclick="radarChart()">Radar Chart</button>
  <button id='radarChart2Button' onclick="radarChart2()">Radar Chart 2</button>
  <button id='radarChart3Button' onclick="radarChart3()">Radar Chart 3</button>
  <button id='barPieChartButton' onclick="barPieChart()">Bar Pie Chart</button>
  <button id='tableButton'> Table </button>

  <div id="barChart2" style="width: 1000px; height:600px; display: none;"></div>
  <div id="barChart3" style="width: 1000px; height:600px; display: none;"></div>
  <div id="stackedBarChart" style="width: 1000px; height:1600px; display: none;"></div>
  <div id="calendarChart" style="width: 1000px; height:1500px; display: none;"></div>
  <div id="lineChart" style="width: 1000px; height:600px; display: none;"></div>
  <div id="lineChart2" style="width: 1000px; height:600px; display: none;"></div>
  <div id="radarChart" style="width: 1000px; height:600px; display: none;"></div>
  <div id="radarChart2" style="width: 1000px; height:600px; display: none;"></div>
  <div id="radarChart3" style="width: 1000px; height:600px; display: none;"></div>
  <div id="barPieChart" style="width: 1000px; height:600px; display: none;"></div>


  <div id="tableDiv" style="display: none;">
    <table id="table" class="display" style="width:100%;">
      <thead>
        <tr>
          <th>Channel</th>
          <th>Program</th>
          <th>Topic</th>
          <th>Duration</th>
        </tr>
      </thead>
    </table>
  </div>


  <script>

    $(document).ready(function() {

      $('#select_pol').select2({
        placeholder: 'Cerca politico',
        allowClear: true,
        maximumSelectionLength: 1
      });
      $('#select_channels').select2({
        placeholder: 'Cerca canale',
        allowClear: true,
        maximumSelectionLength: 1
      });
      $('#select_programs').select2({
        placeholder: 'Cerca programma',
        allowClear: true,
        maximumSelectionLength: 1
      });
      $('#select_topics').select2({
        placeholder: 'Cerca argomento',
        allowClear: true,
        maximumSelectionLength: 1
      });
      $('#select_affiliations').select2({
        placeholder: 'Cerca partito',
        allowClear: true,
        maximumSelectionLength: 1
      });
      $('#barChart2Button').click(function() {
        $('#select_pol').select2({
          maximumSelectionLength: 4
        });
      })
      $('#barChart3Button').click(function() {
        $('#select_pol').select2({
          maximumSelectionLength: 1
        });
        if($('#select_pol').val().length > 1){
          temp = $('#select_pol').val()[0];
          $('#select_pol').val([temp]).trigger('change');
        }
      })
      $('#calendarChartButton').click(function() {
        $('#select_pol').select2({
          maximumSelectionLength: 1
        });
        if($('#select_pol').val().length > 1){
          temp = $('#select_pol').val()[0];
          $('#select_pol').val([temp]).trigger('change');
        }
      })
      $('#lineChartButton').click(function() {
        $('#select_pol').select2({
          maximumSelectionLength: 4
        });
      })
      $('#lineChart2Button').click(function() {
        $('#select_pol').select2({
          maximumSelectionLength: 4
        });
      })
      $('#radarChartButton').click(function() {
        $('#select_pol').select2({
          maximumSelectionLength: 4
        });
      })
      $('#radarChart2Button').click(function() {
        $('#select_pol').select2({
          maximumSelectionLength: 10
        });
      })
      $('#radarChart3Button').click(function() {
        $('#select_pol').select2({
          maximumSelectionLength: 10
        });
      })
      $('#barPieChartButton').click(function() {
        $('#select_pol').select2({
          maximumSelectionLength: 4
        });
      })
      var tab = $("#table").DataTable();
      var still_running = true;
      $('#tableButton').click(function() {
        table(tab, still_running);
      });

      fetchChannels();
      fetchPrograms();
      fetchTopics();
      fetchAffiliations();

      fetchData("/v1/dates").then(result => {
        start_date.value = result["first_date"];
        start_date.min = result["first_date"];
        start_date.max = result["end_date"];
        end_date.value = result["end_date"];
        end_date.min = result["first_date"];
        end_date.max = result["end_date"];
      });

    });

    const TOPICS = [];
    //function to call APIs passing url
async function fetchData(url) {
  try {
    const response = await fetch(url);
    if (!response.ok) {
      throw new Error("Network response was not ok");
    }
    const data = await response.json();
    return data;
  } catch (error) {
    console.error("Errore nel recupero dei dati:", error);
  }
}

// fetch topics
async function fetchTopics() {
  var topics = [];
  i = 1;
  while (true) {
    const data = await fetchData(`/v1/topics?page=${i}`);
    i++;
    if (data.topics.length === 0) {
      break;
    }
    data["topics"].forEach((val) => {
      topics.push(val);
    });
  }
  return topics;
}
(async () => {
  const fetchedTopics = await fetchTopics();
  TOPICS.push(...fetchedTopics); 
})();



    const start_date = document.getElementById("start_date");
    const end_date = document.getElementById("end_date");

    var cb = "both";

    var radarChartInstance = null;
    var radarChart2Instance = null;
    var radarChart3Instance = null;
    var lineChart2Instance = null;
    var barChart2Instance = null;
    var barChart3Instance = null;
    var barPieChartInstance = null;
    var calendarChartInstance = null;


  </script>

  <script src="/static/charts/bar_chart2.js"></script>
  <script src="/static/charts/bar_chart3.js"></script>
  <script src="/static/charts/bar_pie_chart.js"></script>
  <script src="/static/charts/calendar_chart.js"></script>
  <script src="/static/charts/line_chart.js"></script>
  <script src="/static/charts/line_chart2.js"></script>
  <script src="/static/charts/radar_chart.js"></script>
  <script src="/static/charts/radar_chart2.js"></script>
  <script src="/static/charts/radar_chart3.js"></script>
  <script src="/static/charts/table.js"></script>
  <script src="/static/functions/calcTime.js"></script>
  <script src="/static/functions/changeType.js"></script>
  <script src="/static/functions/fetchData.js"></script>
  <script src="/static/functions/limitEndDate.js"></script>
  <script src="/static/functions/selects.js"></script>
  <script src="/static/functions/updateCharts.js"></script>


</body>

