<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../static/style.css">
  <script src="https://cdn.jsdelivr.net/npm/echarts@5.5.0/dist/echarts.min.js"></script>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css"/>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
</head>



<body>
  <div class="searchPol">
    <form id="form_pol">
      <input type="radio" id="politician" value="politician" name="choose_pol" onclick="handleOptionChange(this)">
      <label for="politician">Politician</label><br>
      <input type="radio" id="political_group" value="political_group" name="choose_pol" onclick="handleOptionChange(this)">
      <label for="political_group">Political Group</label>
    </form>
    <select id="select_pol" style="width: 100%;" multiple="multiple" onchange="updateCharts()">
      <option></option>
    </select>
  </div>
  <div>
    <p>from: <input type="date" onkeydown="return false;" id="start_date" onchange="limitEndDate(), updateCharts()"/></p>  
    <p>to: <input type="date" onkeydown="return false;" id="end_date" onchange="updateCharts()"/></p>
  </div>
  <div>
    <form id="cb">
      <input type="checkbox" id="news" value="news" name="choose_type" checked onclick="changeType()" onchange="updateCharts()">
      <label for="news">News</label><br>
      <input type="checkbox" id="speech" value="speech" name="choose_type" checked onclick="changeType()" onchange="updateCharts()">
      <label for="speech">Speech</label>
    </form>
  </div>

  <button id='barChartButton' onclick="barChart()">Bar Chart</button>
  <button id='barChart2Button' onclick="barChart2()">Bar Chart 2</button>
  <button id='pieChartButton'onclick="pieChart()">Pie Chart</button>
  <button id='pieChart2Button'onclick="pieChart2()">Pie Chart 2</button>
  <button id='calendarChartButton'onclick="calendarChart()">Calendar Chart</button>
  <button id='lineChartButton'onclick="lineChart()">Line Chart</button>
  <button id='lineChart2Button'onclick="lineChart2()">Line Chart 2</button>
  <button id='radarChartButton'onclick="radarChart()">Radar Chart</button>
  

  <div id="barChart" style="width: 1000px; height:600px; display: none;"></div>
  <div id="barChart2" style="width: 1000px; height:600px; display: none;"></div>
  <div id="pieChart" style="width: 1000px; height:600px; display: none;"></div>
  <div id="pieChart2" style="width: 1000px; height:600px; display: none;"></div>
  <div id="calendarChart" style="width: 1000px; height:1500px; display: none;"></div>
  <div id="lineChart" style="width: 1000px; height:600px; display: none;"></div>
  <div id="lineChart2" style="width: 1000px; height:600px; display: none;"></div>
  <div id="radarChart" style="width: 1000px; height:600px; display: none;"></div>

  <script>

    //function to call APIs passing url
    async function fetchData(url) {
      try {
        const response = await fetch(url);
        if (!response.ok) {
          throw new Error('Network response was not ok');
        }
        const data = await response.json();
        return data;
      } catch (error) {
        console.error('Errore nel recupero dei dati:', error);
      }
    }

    //transform a numer in a {hour: h, minutes: m} data type
    function calcTime(x){
      var hours = Math.floor(x/60);
      var minutes = x%60;
      var str = '';
      if(hours == 0){
        str += minutes + " minuti";
      }else if(hours == 1){
        str += hours + " ora e " + minutes + " minuti";
      }else{
        str += hours + " ore e " + minutes + " minuti";
      }
      return str;
    }
    

    // initializing select pol
    $(document).ready(function() {
      $('#select_pol').select2({
        placeholder: 'Cerca politico',
        allowClear: true,
        maximumSelectionLength: 1
      });
      $('#barChartButton').click(function() {
        $('#select_pol').select2({
          maximumSelectionLength: 1
        });
        if($('#select_pol').val().length != 0){
          temp = $('#select_pol').val()[0];
          $('#select_pol').val([temp]).trigger('change');
        }
      })
      $('#barChart2Button').click(function() {
        $('#select_pol').select2({
          maximumSelectionLength: 4
        });
      })
      $('#pieChartButton').click(function() {
        $('#select_pol').select2({
          maximumSelectionLength: 1
        });
        if($('#select_pol').val().length != 0){
          temp = $('#select_pol').val()[0];
          $('#select_pol').val([temp]).trigger('change');
        }
      })
      $('#pieChart2Button').click(function() {
        $('#select_pol').select2({
          maximumSelectionLength: 1
        });
        if($('#select_pol').val().length != 0){
          temp = $('#select_pol').val()[0];
          $('#select_pol').val([temp]).trigger('change');
        }
      })
      $('#calendarChartButton').click(function() {
        $('#select_pol').select2({
          maximumSelectionLength: 1
        });
        if($('#select_pol').val().length != 0){
          temp = $('#select_pol').val()[0];
          $('#select_pol').val([temp]).trigger('change');
        }
      })
      $('#lineChartButton').click(function() {
        $('#select_pol').select2({
          maximumSelectionLength: 4
        });
      })
      $('#lineChart2Button').click(function() {
        $('#select_pol').select2({
          maximumSelectionLength: 4
        });
      })
      $('#radarChartButton').click(function() {
        $('#select_pol').select2({
          maximumSelectionLength: 4
        });
      })
    });


    //update charts
    async function updateCharts(){
      if (document.getElementById('barChart').style.display == "block"){
        barChart();
      }else if(document.getElementById('barChart2').style.display == "block"){
        barChart2();
      }else if(document.getElementById('pieChart').style.display == "block"){
        pieChart();
      }else if(document.getElementById('pieChart2').style.display == "block"){
        pieChart2();
      }else if(document.getElementById('calendarChart').style.display == "block"){
        calendarChart();
      }else if(document.getElementById('lineChart').style.display == "block"){
        lineChart();
      }else if(document.getElementById('lineChart2').style.display == "block"){
        lineChart2();
      }else if(document.getElementById('radarChart').style.display == "block"){
        radarChart();
      }
    }


    // initializing politicians/political group list (select)
    const select_pol = document.getElementById("select_pol");
    function handleOptionChange(radio) {
      var options = [];
      while (select_pol.options.length > 0) {
        select_pol.remove(0);
      }
      const o = document.createElement("option");
      select_pol.appendChild(o);
      if (radio.value == 'politician'){
        fetchData("/v1/politicians").then(result => {
          result["politicians"].forEach(valore => {
            var option = document.createElement("option");
            option.value = valore;
            option.text = valore;
            select_pol.appendChild(option);
          });
        })
      } else if (radio.value == 'political_group'){
        fetchData("/v1/political_groups").then(result => {
          result["political_groups"].forEach(valore => {
            var option = document.createElement("option");
            option.value = valore;
            option.text = valore;
            select_pol.appendChild(option);
          });
        })
      }
    }


    // initialize dates
    const start_date = document.getElementById("start_date");
    const end_date = document.getElementById("end_date");

    fetchData("/v1/dates").then(result => {
      start_date.value = result["first_date"];
      start_date.min = result["first_date"];
      start_date.max = result["end_date"];
      end_date.value = result["end_date"];
      end_date.min = result["first_date"];
      end_date.max = result["end_date"];
    })

    async function limitEndDate(){
      end_date.min = start_date.value;
      if(Number(end_date.value.split('-')[0]) < Number(start_date.value.split('-')[0]) ||
        (Number(end_date.value.split('-')[0]) == Number(start_date.value.split('-')[0]) &&
        Number(end_date.value.split('-')[1]) < Number(start_date.value.split('-')[1])) ||
        (Number(end_date.value.split('-')[1]) == Number(start_date.value.split('-')[1]) &&
        Number(end_date.value.split('-')[2]) < Number(start_date.value.split('-')[2]))){
        end_date.value = start_date.value;  
      }
    }


    // change checkbox type
    var cb = "both";
    async function changeType(){
      const news = document.getElementById("news");
      const speech = document.getElementById("speech");
      if (news.checked == true && speech.checked == true){
        cb = "both";
      }else if (news.checked == true){
        cb = "news";
      }else if (speech.checked == true){
        cb = "speech";
      }else{
        cb = "none";
      }
    }


    // Bar Chart
    async function barChart(){
      if($('#select_pol').val().length == 0){ return 0; }
      document.getElementById('barChart2').style.display = 'none';
      document.getElementById('pieChart').style.display = 'none';
      document.getElementById('pieChart2').style.display = 'none';
      document.getElementById('calendarChart').style.display = 'none';
      document.getElementById('lineChart').style.display = "none";
      document.getElementById('lineChart2').style.display = "none";
      document.getElementById('radarChart').style.display = "none";
      var bC = document.getElementById('barChart');
      bC.style.display = "block";
      var barChart = echarts.init(bC);
      barChart.showLoading();
      const p = document.getElementById("politician");
      const pg = document.getElementById("political_group");
      if(p.checked == true){
        var t = "/v1/politicianTopics/";
      }else if(pg.checked == true){
        var t = "/v1/polGroupTopics/";
      } else { return 0; }
      const url = t + $('#select_pol').val()[0] + 
                  "?start_date_=" + start_date.value.replace(/-/g, '%2F') + 
                  "&end_date_=" + end_date.value.replace(/-/g, '%2F') + 
                  "&kind_=" + cb;
      fetchData(url).then(result => {
        var topics = [];
        var minutes = [];
        var f = [];
        for(let i = 0; i < result["topics"].length; i++){
          if(result["topics"][i]["interventions"] != 0){
            var x = [result["topics"][i]["interventions"], result["topics"][i]["topic"]];
            f.push(x)
          }
        }
        f.sort((a, b) => a[0] - b[0]);
        f.forEach(value => {
          minutes.push(value[0]);
          topics.push(value[1]);
        })
        option = {
          title: {
            text: 'Interventions in channel',
            subtext: 'Here we can analyze what type of topic a politician talked about',
            left: 'center'
          },
          yAxis: {
            type: 'category',
            data: topics,
            axisLabel: false
          },
          xAxis: {
            type: 'value'
          },
          tooltip: {
            trigger: 'item'
          },
          series: [
            {
              data: minutes,
              type: 'bar',
              emphasis: {
                itemStyle: {
                  shadowBlur: 10,
                  shadowOffsetX: 0,
                  shadowColor: 'rgba(0, 0, 0, 0.5)'
                }
              }
            }
          ],
        };
        barChart.setOption(option);
        barChart.hideLoading();
      });
    }

    
    // Bar Chart 2
    var barChart2Instance = null;

    async function barChart2(){
      if (barChart2Instance !== null) {
        barChart2Instance.dispose();
      }
      if($('#select_pol').val().length == 0){ return 0; }
      document.getElementById('barChart').style.display = 'none';
      document.getElementById('pieChart').style.display = 'none';
      document.getElementById('pieChart2').style.display = 'none';
      document.getElementById('calendarChart').style.display = 'none';
      document.getElementById('lineChart').style.display = "none";
      document.getElementById('lineChart2').style.display = "none";
      document.getElementById('radarChart').style.display = "none";
      var bC = document.getElementById('barChart2');
      bC.style.display = "block";
      barChart2Instance = echarts.init(bC);
      barChart2Instance.showLoading();
      const p = document.getElementById("politician");
      const pg = document.getElementById("political_group");
      if(p.checked == true){
        var t = "/v1/politicianTopics/";
      }else if(pg.checked == true){
        var t = "/v1/polGroupTopics/";
      } else { return 0; }
      var values = [];
      var politicians = [];
      const selectedValues = $('#select_pol').val();
      for (const value of selectedValues) {
        const url = t + value + 
                "?start_date_=" + start_date.value.replace(/-/g, '%2F') + 
                "&end_date_=" + end_date.value.replace(/-/g, '%2F') + 
                "&kind_=" + cb;
        const data = await fetchData(url);
        if(p.checked == true){ 
          politicians.push(data["politician"])
        } else if (pg.checked == true){ 
          politicians.push(data["political group"]) 
        }
        values.push(data["topics"]);
      }
      var topics = [];
      values.forEach(v => {
        var t = [];
        v.forEach(x => {
          t.push(x["topic"])
        })
        topics = t;
      })
      var series = [];
      values.forEach((v, index) => {
        var m = [];
        v.forEach(x => {
          m.push(x["minutes"]);
        })
        series.push({name: politicians[index], type: 'bar', data: m});
      })
      var option = {
        tooltip: {
          trigger: 'axis',
          axisPointer: {
            type: 'shadow'
          },
          formatter: function (params) {
            var result = '';
            result += '<b>' + params[0].name + '</b>';
              params.forEach((item, index) => {
                result += '<div style="display: flex; align-items: center;">';
                result += '<span style="display:inline-block;margin-right:5px;border-radius:50%;width:10px;height:10px;background-color:' + item.color + ';"></span>';
                result += params[index].seriesName + ": ";
                result += calcTime(params[index].data);
                result += '</div>';
              });
            return result;
          }
        },
        legend: {},
        grid: {
          left: '3%',
          right: '4%',
          bottom: '3%',
          containLabel: true
        },
        yAxis: {
          type: 'value',
          boundaryGap: [0, 0.01]
        },
        xAxis: {
          type: 'category',
          data: topics,
          show: false
        },
        series: series
      };
      barChart2Instance.setOption(option);
      barChart2Instance.hideLoading();
      var removedElements = [];
      var removedTopics = [];
      var removedIndex = [];
      var counter = 0;

      barChart2Instance.on("click", function(p) {
        if(p.componentType == 'series'){
          counter ++;
          var t;
          var tempList = [];
          series.forEach((v) => {
            if(v["data"].indexOf(p.data) != -1){
              t = v["data"].indexOf(p.data);
            }
          })
          series.forEach((v, index) => {
            tempList.push(v["data"][t]);
            v["data"].splice(t, 1);
            series[index] = v;
          })
          removedIndex.push(t);
          removedTopics.push(topics[t]);
          topics.splice(t, 1);
          removedElements.push(tempList);
          var option2 = {
            tooltip: {
              trigger: 'axis',
              axisPointer: {
                type: 'shadow'
              }
            },
            legend: {},
            grid: {
              left: '3%',
              right: '4%',
              bottom: '3%',
              containLabel: true
            },
            yAxis: {
              type: 'value',
              boundaryGap: [0, 0.01]
            },
            xAxis: {
              type: 'category',
              data: topics,
              show: false
            },
            series: series,
            graphic: [
              {
                type: 'text',
                left: 50,
                top: 20,
                style: {
                  text: 'Back',
                  fontSize: 18
                },
                onclick: function () {
                  if(counter > 0){
                    var rt = removedTopics.splice(removedTopics.length - 1, 1);
                    var re = removedElements.splice(removedElements.length - 1, 1);
                    var ri = removedIndex.splice(removedIndex.length - 1, 1);
                    topics.splice(ri[0], 0, rt[0]);
                    series.forEach((ser, index) => {
                      ser["data"].splice(ri[0], 0, re[0][index]);
                    })
                    option.series = series;
                    barChart2Instance.setOption(option);
                    counter --;
                  }
                }
              }
            ]
          };
          barChart2Instance.setOption(option2);
        }
      })
    }


    // Pie Chart
    async function pieChart(){
      if($('#select_pol').val().length == 0){ return 0; }
      document.getElementById('barChart').style.display = "none";
      document.getElementById('barChart2').style.display = 'none';
      document.getElementById('pieChart2').style.display = 'none';
      document.getElementById('calendarChart').style.display = 'none';
      document.getElementById('lineChart').style.display = "none";
      document.getElementById('lineChart2').style.display = "none";
      document.getElementById('radarChart').style.display = "none";
      var pC = document.getElementById('pieChart');
      pC.style.display = "block";
      var pieChart = echarts.init(pC);
      pieChart.showLoading();
      const p = document.getElementById("politician");
      const pg = document.getElementById("political_group");
      if(p.checked == true){
        var t = "/v1/politicianChannels/";
      }else if(pg.checked == true){
        var t = "/v1/polGroupChannels/";
      } else { return 0; }
      const url = t + $('#select_pol').val()[0] + 
                  "?start_date_=" + start_date.value.replace(/-/g, '%2F') + 
                  "&end_date_=" + end_date.value.replace(/-/g, '%2F') + 
                  "&kind_=" + cb;
      fetchData(url).then(result => {
        var final = [];
        for(let i = 0; i < result["channels"].length; i++){
          var j = {};
          j["name"] = result["channels"][i]["channel"];
          j["value"] = result["channels"][i]["interventions"];
          if(j["value"] != 0){ final.push(j); }
        }
        if (cb == 'none'){ final = []; }
        option = {
          title: {
            text: 'Interventions in channel',
            subtext: 'Here we can analyze the time a channel spends for a politician',
            left: 'center'
          },
          tooltip: {
            trigger: 'item'
          },
          legend: {
            orient: 'vertical',
            left: 'left'
          },
          series: [
            {
              type: 'pie',
              radius: '50%',
              data: final,
              emphasis: {
                itemStyle: {
                  shadowBlur: 10,
                  shadowOffsetX: 0,
                  shadowColor: 'rgba(0, 0, 0, 0.5)'
                }
              }
            }
          ]
        };
        pieChart.setOption(option);
        pieChart.hideLoading();
      });
    }


    // Pie Chart
    async function pieChart2(){
      if($('#select_pol').val().length == 0){ return 0; }
      document.getElementById('barChart').style.display = "none";
      document.getElementById('barChart2').style.display = 'none';
      document.getElementById('pieChart').style.display = 'none';
      document.getElementById('calendarChart').style.display = 'none';
      document.getElementById('lineChart').style.display = "none";
      document.getElementById('lineChart2').style.display = "none";
      document.getElementById('radarChart').style.display = "none";
      var pC = document.getElementById('pieChart2');
      pC.style.display = "block";
      var pieChart = echarts.init(pC);
      pieChart.showLoading();
      const p = document.getElementById("politician");
      const pg = document.getElementById("political_group");
      if(p.checked == true){
        var t = "/v1/politicianChannels/";
      }else if(pg.checked == true){
        var t = "/v1/polGroupChannels/";
      } else { return 0; }
      const url = t + $('#select_pol').val()[0] + 
                  "?start_date_=" + start_date.value.replace(/-/g, '%2F') + 
                  "&end_date_=" + end_date.value.replace(/-/g, '%2F') + 
                  "&kind_=" + cb;
      const data = await fetchData(url);
      var final = [];
      for(let i = 0; i < data["channels"].length; i++){
        var j = {};
        j["name"] = await data["channels"][i]["channel"];
        j["value"] = data["channels"][i]["minutes"];
        if(j["value"] != 0){ final.push(j); }
      }
      if (cb == 'none'){ final = []; }
      var totalInterventions = 0;
      for (let i = 0; i < final.length; i++) {
        totalInterventions += final[i].value;
      }
      var new_final = [];
      var altro = {name: "altro", value: 0};
      final.forEach((fin) => {
        if(fin.value <= (totalInterventions/100*5)){
          altro.value += fin.value;
        }else{
          new_final.push(fin);
        }
      })
      new_final.push(altro);
      option = {
        title: {
          text: 'Interventions in channel',
          subtext: 'Here we can analyze the time a channel spends for a politician',
          left: 'center'
        },
        tooltip: {
          trigger: 'item'
        },
        legend: {
          orient: 'vertical',
          left: 'left'
        },
        series: [
          {
            type: 'pie',
            radius: '50%',
            data: new_final,
            emphasis: {
              itemStyle: {
                shadowBlur: 10,
                shadowOffsetX: 0,
                shadowColor: 'rgba(0, 0, 0, 0.5)'
              }
            }
          }
        ]
      };
      pieChart.setOption(option);
      pieChart.hideLoading();
    }


    // Calendar Chart
    var calendarChartInstance = null;

    async function calendarChart(){
      if (calendarChartInstance !== null) {
        calendarChartInstance.dispose();
      }
      if($('#select_pol').val().length == 0){ return 0; }
      document.getElementById('barChart').style.display = "none";
      document.getElementById('barChart2').style.display = 'none';
      document.getElementById('pieChart').style.display = "none";
      document.getElementById('pieChart2').style.display = 'none';
      document.getElementById('lineChart').style.display = "none";
      document.getElementById('lineChart2').style.display = "none";
      document.getElementById('radarChart').style.display = "none";
      var cC = document.getElementById('calendarChart');
      cC.style.display = "block";
      calendarChartInstance = echarts.init(cC);
      calendarChartInstance.showLoading();
      const p = document.getElementById("politician");
      const pg = document.getElementById("political_group");
      if(p.checked == true){
        var t = "/v1/interventionsPoliticianPerDay/";
      }else if(pg.checked == true){
        var t = "/v1/interventionsPoliticalGroupPerDay/";
      } else { return 0; }
      const url = t + $('#select_pol').val()[0] + 
                  "?start_date_=" + start_date.value.replace(/-/g, '%2F') + 
                  "&end_date_=" + end_date.value.replace(/-/g, '%2F') + 
                  "&kind_=" + cb;
      fetchData(url).then(result => {
        var interv = result["interventions"]
        var max_value = result["max_value"]
        var begin_year = result["begin year"]
        var final_year = result["final year"]
        var calendar = []
        var series = []
        interv.forEach(function(x, index) {
          x.forEach(function(y, index2) {
            interv[index][index2][0] = +echarts.time.parse(interv[index][index2][0]);
          })
        });
        for (var i = begin_year; i <= final_year; i++ ){
          calendar.push({top: (100 + (i-begin_year)*200), range: i.toString(), cellSize: ['auto', 20]});
        }
        for (var i = begin_year; i <= final_year; i++ ){
          series.push({type: 'heatmap', coordinateSystem: 'calendar', calendarIndex: (i-begin_year), data: interv[i-begin_year]});
        }
        option = {
          tooltip: {
            position: 'top'
          },
          visualMap: {
            min: 0,
            max: max_value,
            calculable: true,
            orient: 'horizontal',
            left: 'center',
            top: 'top'
          },
          calendar: calendar,
          series: series
        };
        calendarChartInstance.setOption(option);
        calendarChartInstance.hideLoading();
      });
    }


    // Line chart
    async function lineChart(){
      if($('#select_pol').val().length == 0){ return 0; }
      document.getElementById('barChart').style.display = "none";
      document.getElementById('barChart2').style.display = 'none';
      document.getElementById('pieChart').style.display = "none";
      document.getElementById('pieChart2').style.display = 'none';
      document.getElementById('lineChart2').style.display = "none";
      document.getElementById('calendarChart').style.display = 'none';
      document.getElementById('radarChart').style.display = "none";
      var lC = document.getElementById('lineChart');
      lC.style.display = "block";
      var lineChart = echarts.init(lC);
      lineChart.showLoading();
      const p = document.getElementById("politician");
      const pg = document.getElementById("political_group");
      if(p.checked == true){
        var t = "/v1/interventionsPoliticianPerYear/";
      } else if (pg.checked == true){
        var t = "/v1/interventionsPoliticalGroupPerYear/";
      } else { return 0; }
      var series = [];
      var years;
      var politicians = []
      const selectedValues = $('#select_pol').val();
      for (const value of selectedValues) {
        const url = t + value + 
                "?start_date_=" + start_date.value.replace(/-/g, '%2F') + 
                "&end_date_=" + end_date.value.replace(/-/g, '%2F') + 
                "&kind_=" + cb;
        const data = await fetchData(url);
        years = data["years"];
        var interventions = data["interventions"];
        series.push(interventions);
        if(p.checked == true){ 
          politicians.push(data["politician"])
        } else if (pg.checked == true){ 
          politicians.push(data["political group"]) 
        }
      }
      option = {
        xAxis: {
          type: 'category',
          data: years
        },
        yAxis: {
          type: 'value'
        },
        title: {
          text: 'Intervention per year',
          subtext: 'Here we can analyze the interventions throughout the years',
          left: 'center',
        },
        legend: {
          data: politicians,
          left: 'right',
          orient: 'vertical',
          formatter: function(name) {
            if (name.length > 35) {
              var index = 35;
                while (name.charAt(index) !== ' ' && index > 0) {
                    index--;
                }
                if (index === 0) {
                    index = 35; 
                }
                return name.substr(0, index) + '\n' + name.substr(index);
            } else {
                return name;
            }
          }
        },
        tooltip: {
          trigger: 'item'
        },
        series: [
          {
            name: politicians[0],
            data: series[0],
            type: 'line'
          },
          {
            name: politicians[1],
            data: series[1],
            type: 'line'
          },
          {
            name: politicians[2],
            data: series[2],
            type: 'line'
          },
          {
            name: politicians[3],
            data: series[3],
            type: 'line'
          }
        ]
      };
      lineChart.setOption(option);
      lineChart.hideLoading();
    }

    async function lineChart2(){
      if($('#select_pol').val().length == 0){ return 0; }
      document.getElementById('barChart').style.display = "none";
      document.getElementById('barChart2').style.display = 'none';
      document.getElementById('pieChart').style.display = "none";
      document.getElementById('pieChart2').style.display = 'none';
      document.getElementById('calendarChart').style.display = 'none';
      document.getElementById('lineChart').style.display = "none";
      document.getElementById('radarChart').style.display = "none";
      var lC = document.getElementById('lineChart2');
      lC.style.display = "block";
      var lineChart = echarts.init(lC);
      lineChart.showLoading();
      const p = document.getElementById("politician");
      const pg = document.getElementById("political_group");
      if (p.checked == true){
        var t = "/v1/interventionsPoliticianPerDay/";
      } else if (pg.checked == true){
        var t = "/v1/interventionsPoliticalGroupPerDay/";
      } else { return 0; }
      var series = [];
      var politicians = [];
      const selectedValues = $('#select_pol').val();
      for (const value of selectedValues) {
        const url = t + value + 
                "?start_date_=" + start_date.value.replace(/-/g, '%2F') + 
                "&end_date_=" + end_date.value.replace(/-/g, '%2F') + 
                "&kind_=" + cb;
        const data = await fetchData(url);
        var interventions = data["interventions"];
        series.push(interventions);
        if(p.checked == true){ 
          politicians.push(data["politician"])
        } else if (pg.checked == true){ 
          politicians.push(data["political group"]) 
        }
      }
      series.forEach((pol, index) =>{
        var f = [];
        pol.forEach(year => {
          f = f.concat(year);
        })
        series[index] = f;
      })
      option = {
        xAxis: {
          type: 'category',
        },
        yAxis: {
          type: 'value'
        },
        title: {
          text: 'Intervention per year',
          subtext: 'Here we can analyze the interventions each day',
          left: 'center',
        },
        legend: {
          data: politicians,
          left: 'right',
          orient: 'vertical',
          formatter: function(name) {
            if (name.length > 35) {
              var index = 35;
                while (name.charAt(index) !== ' ' && index > 0) {
                    index--;
                }
                if (index === 0) {
                    index = 35; 
                }
                return name.substr(0, index) + '\n' + name.substr(index);
            } else {
                return name;
            }
          }
        },
        tooltip: {
          trigger: 'item'
        },
        series: [
          {
            name: politicians[0],
            data: series[0],
            type: 'line'
          },
          {
            name: politicians[1],
            data: series[1],
            type: 'line'
          },
          {
            name: politicians[2],
            data: series[2],
            type: 'line'
          },
          {
            name: politicians[3],
            data: series[3],
            type: 'line'
          }
        ],
        dataZoom: [
          {
            id: 'dataZoomX',
            type: 'slider',
            xAxisIndex: [0],
            filterMode: 'filter'
          }
        ]
      };
      lineChart.setOption(option);
      lineChart.hideLoading();
    }


    // Radar Chart
    async function radarChart(){
      if($('#select_pol').val().length == 0){ return 0; }
      document.getElementById('barChart').style.display = "none";
      document.getElementById('barChart2').style.display = 'none';
      document.getElementById('pieChart').style.display = "none";
      document.getElementById('pieChart2').style.display = 'none';
      document.getElementById('calendarChart').style.display = 'none';
      document.getElementById('lineChart').style.display = "none";
      document.getElementById('lineChart2').style.display = "none";
      var rC = document.getElementById('radarChart');
      rC.style.display = "block";
      var radarChart = echarts.init(rC);
      radarChart.showLoading();
      const p = document.getElementById("politician");
      const pg = document.getElementById("political_group");
      if(p.checked == true){
        var t = "/v1/politicianTopics/";
      }else if(pg.checked == true){
        var t = "/v1/polGroupTopics/";
      } else { return 0; }
      var politicians = [];
      var values = [];
      const selectedValues = $('#select_pol').val();
      for (const value of selectedValues) {
        const url = t + value + 
                "?start_date_=" + start_date.value.replace(/-/g, '%2F') + 
                "&end_date_=" + end_date.value.replace(/-/g, '%2F') + 
                "&kind_=" + cb;
        const data = await fetchData(url);
        if(p.checked == true){ 
          politicians.push(data["politician"])
        } else if (pg.checked == true){ 
          politicians.push(data["political group"]) 
        }
        values.push(data["topics"]);
      }
      var minutes = [];
      var topics = [];
      var max_value = [];
      values.forEach(function(value) {
        var temp = [];
        value.forEach(function(v) {
          temp.push(v["minutes"]);
        });
        minutes.push(temp);
      });
      max_min = [];
      values[0].forEach(function(t) {
        topics.push(t["topic"]);
        max_min.push(0)
      });
      values.forEach(function(data) {
        data.forEach(function(x, index) {
          if(max_min[index] < x["minutes"]){
            max_min[index] = x["minutes"] + x["minutes"]/5;
          }
          else{}
        });
      });
      var indicator = [];
      var data = [];
      topics.forEach(function(f, index){
        indicator.push({name: f, max: max_min[index]})
      });
      politicians.forEach(function(p, index){
        data.push({name: p, value: minutes[index]})
      });
      option = {
        title: {
          text: 'Minutes of speaking',
          subtext: 'Here we can analyze how much a politician/poolitical group talks about a topic',
          left: 'center',
        },
        legend: {
          data: politicians,
          left: 'left',
          orient: 'vertical',
          formatter: function(name) {
            if (name.length > 35) {
              var index = 35;
                while (name.charAt(index) !== ' ' && index > 0) {
                    index--;
                }
                if (index === 0) {
                    index = 35; 
                }
                return name.substr(0, index) + '\n' + name.substr(index);
            } else {
                return name;
            }
          }
        },
        tooltip: {
          trigger: 'item'
        },
        radar: {
          indicator: indicator,
          center: ['50%', '55%']
        },
        series: [
          {
            name: 'Minutes politicians',
            type: 'radar',
            data: data
          }
        ]
      };
      radarChart.setOption(option);
      radarChart.hideLoading();
    }

  </script>
</body>

