<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>FAQ - AGCOM - television data</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="static/assets/application/img/logo.svg" rel="icon" type="image/svg+xml">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="static/assets/application/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/assets/application/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">


  <!-- Template Main CSS File -->
  <link href="static/assets/application/css/style.css" rel="stylesheet">

  <style>

  </style>

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <a href="/" class="logo d-flex align-items-center">
        <img src="static/assets/application/img/logo-agcom.jpg" alt="">
      </a>
      <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->

  </header><!-- End Header -->

 <!-- ======= Sidebar ======= -->
 <aside id="sidebar" class="sidebar">

  <ul class="sidebar-nav" id="sidebar-nav">

    <li class="nav-item">
      <a class="nav-link collapsed" href="/index">  
        <i class="bi bi-grid"></i>
        <span>Home</span>
      </a>
    </li><!-- End Dashboard Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed " href="/docs">
        <i class="bi-archive"></i>
        <span>Documentazione APIs</span>
      </a>
    </li>


    <li class="nav-item">
      <a class="nav-link collapsed" href="faq">
        <i class="bi bi-question-circle"></i>
        <span>F.A.Q</span>
      </a>
    </li><!-- End F.A.Q Page Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" href="contact">
        <i class="bi bi-envelope"></i>
        <span>Contatti</span>
      </a>
    </li><!-- End Contact Page Nav -->

  </ul>

</aside><!-- End Sidebar-->

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Frequently Asked Questions</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item active">Frequently Asked Questions</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section faq">
      <div class="row">
        <div class="col-lg-6" style="width: 100%;">

          <div class="card basic">
            <div class="card-body">
              <h5 class="card-title">Basic Questions</h5>

              <div>
                <h6>Di cosa si tratta?</h6>
                <p>Questa è una dashboard interattiva basata sui dati pubblicati da AGCOM riguardo alla presenza quotidiana di partiti, esponenti politici e movimenti su televisione e radio italiana.<br> I dati sono raccolti ogni sei mesi, distribuiti con una licenza che ne permette il riuso attraverso file XML e mostrano chi ha avuto più visibilità, su quali canali e in quali programmi.</p>
              </div>

              <div class="pt-2">
                <h6>Di che tipo di dati si tratta?</h6>
                <p>I dati rappresentano:
                  <ul>
                    <li>Le presenze quotidiane di figure politiche e movimenti nei programmi TV e radio</li>
                    <li>Gli interventi in prima persona (parlato) e le notizie che li riguardano</li>
                    <li>La distinzione tra tipi di canali, programma e macroargomento trattato</li>
                    <li>Il collegamento tra i soggetti coinvolti e il loro schieramento politico o istituzionale</li>
                  </ul>
                </p>
              </div>

              <div class="pt-2">
                <h6>A cosa può servire?</h6>
                <p>
                  <ul>
                    <li>Visualizzare e analizzare quanto spazio mediatico ricevono partiti e figure politiche</li>
                    <li>Individuare squilibri, tendenze e differenze tra canali e programmi</li>
                    <li>Favorire la trasparenza e l'accountability nel rapporto tra politica e media</li>
                  </ul>
                </p>
              </div>

              <div class="pt-2">
                <h6>Quali operazioni si possono eseguire?</h6>
                <p>
                  <ol>
                    <li>Selezionare un periodo di riferimento</li>
                    <li>Filtrare i dati per movimento, figura politica, programma o canale</li>
                    <li>Esplorare i diversi tipi di intervento: presenza, citazione, notizia</li>
                    <li>Visualizzare l'andamento nel tempo e confrontare soggetti diversi</li>
                    <li>Esportare grafici e tabelle per uso personale o didattico</li>
                  </ol>
              </p>
              </div>

              <div class="pt-2">
                <h6>Provenienza dei dati</h6>
                <p>I dati sono pubblicati ufficialmente da AGCOM. <br>Ogni semestre, l'Autorità rende disponibili questi dati in formato XML con il monitoraggio delle presenze politiche nei media. <br>Questo sito rielabora quei dati per renderli più fruibili, navigabili e comparabili.</p>
              </div>

              <div class="pt-2">
                <h6>Si tratta di un progetto ufficiale AGCOM?</h6>
                <p>No. <br>È un progetto indipendente, non affiliato ad AGCOM, nato con l'obiettivo di rendere i dati pubblici più accessibili e utili per l'opinione pubblica, i ricercatori e i giornalisti.</p>
              </div>

              <div class="pt-2">
                <h6>Chi ha reso possibile tutto questo?</h6>
                <p>Questo progetto è stato reso possibile grazie al lavoro del gruppo Copernicani, che ha sollecitato più volte AGCOM a rilasciare i dati in formato aperto. <br>Grazie a questa azione civica di pressione e dialogo, e al lavoro di Merak Winston Hall e Maurizio Napolitano oggi è possibile analizzare in modo libero e trasparente il rapporto tra media e politica.</p>
              </div>

              <div class="pt-2">
                <h6>Come avviene l'aggiornamento dei dati?</h6>
                <p>Al momento i dati vengono aggiornati manualmente, in corrispondenza delle pubblicazioni semestrali di AGCOM.</p>
              </div>

              <div class="pt-2">
                <h6>E' possibile integrare i dati con altri servizi?</h6>
                <p>Questo sito si presenta anche con delle RestAPI per favorire a terzi il riuso dei dati in altre applicazioni o analisi.</p>
              </div>
              
              <div class="pt-2">
                <h6>Suggerimenti e modifiche</h6>
                <p>Ogni feedback è prezioso per migliorare il progetto. <br>Consigliamo di contattare gli sviluppatori attraverso il sito e visitare il repository GitHub.</p>
              </div>

            </div>
          </div>

        </div>

      </div>
    </section>

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    <div class="copyright">
      &copy; Copyright <strong><span>NiceAdmin</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
      <!-- All the links in the footer should remain intact. -->
      <!-- You can delete the links only if you purchased the pro version. -->
      <!-- Licensing information: https://bootstrapmade.com/license/ -->
      <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
      Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Template Main JS File -->
  <script src="static/assets/application/js/main.js"></script>

</body>

</html>