<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Contacts - AGCOM - television data</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="static/assets/application/img/logo.svg" rel="icon" type="image/svg+xml">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="static/assets/application/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/assets/application/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="static/assets/application/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: NiceAdmin
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Updated: Apr 20 2024 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
  <style>
    .footerContainer{
      display: flex;
      justify-content: center;
      position: relative;
    }

    .footerLogoContainer{
      position: absolute; 
      left: 0;
      margin-left: 10px;
      margin-top: 10px;
    }

    @media (max-width: 600px) {
      .footerContainer{
        display: unset;
        justify-content: center;
        position: unset;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .footerLogoContainer{
        position: unset;
        left: unset;
        margin-left: unset;
      }
    }
  </style>

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <i class="bi bi-list toggle-sidebar-btn"></i>

      <a href="/" class="logo d-flex align-items-center" style="position: absolute; right: 0; width: 50px;">
        <img src="static/assets/application/img/logo.svg" alt="">
      </a>
    </div>

  </header>

 <!-- ======= Sidebar ======= -->
 <aside id="sidebar" class="sidebar">

  <ul class="sidebar-nav" id="sidebar-nav">

    <li class="nav-item">
      <a class="nav-link collapsed" href="/index">  
        <i class="bi bi-grid"></i>
        <span>Home</span>
      </a>
    </li><!-- End Dashboard Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed " href="/docs">
        <i class="bi-archive"></i>
        <span>Documentazione APIs</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link collapsed" href="faq">
        <i class="bi bi-question-circle"></i>
        <span>F.A.Q</span>
      </a>
    </li><!-- End F.A.Q Page Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" href="contact">
        <i class="bi bi-envelope"></i>
        <span>Contatti</span>
      </a>
    </li><!-- End Contact Page Nav -->

  </ul>

</aside><!-- End Sidebar-->

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Contatti</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item active">Contatti</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section contact">

      <div class="row gy-4">

        <div class="col-xl-6">

          <div class="row">
            <div class="col-lg-6" style="width: 300px;">
              <div class="info-box card">
                <i class="bi bi-envelope"></i>
                <h3>Merak Winston Hall</h3>
                <p>hallmerak.2001@gmail.com</p>
              </div>
            </div>
            <div class="col-lg-6" style="width: 300px;">
              <div class="info-box card">
                <i class="bi bi-envelope"></i>
                <h3>Maurizio Napolitano</h3>
                <p>napo@fbk.eu</p>
              </div>
            </div>
          </div>

        </div>

      </div>

    </section>

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    <div class="footerContainer">
      <div>
        <div class="copyright">
          Project by <strong><span>@merak</span></strong> - data by AGCOM
        </div>
        <div class="credits">
          <!-- All the links in the footer should remain intact. -->
          <!-- You can delete the links only if you purchased the pro version. -->
          <!-- Licensing information: https://bootstrapmade.com/license/ -->
          <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
          &copy; Template by NiceAdmin, designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>
      </div>
      <div class="footerLogoContainer">
        <a class="logo d-flex align-items-center">
          <img src="static/assets/application/img/logo-agcom.jpg" alt="">
        </a>
      </div>
    </div>

  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Template Main JS File -->
  <script src="static/assets/application/js/main.js"></script>

</body>

</html>